{% extends 'main_layout.html' %}

{% block addhead %}
    <style>
        .kredit_status_D { color: red; font-weight: bold; }
        .kredit_status_A { color: green; font-weight: bold; }
        .kredit_status_R { color: #0000ff; font-weight: bold; }
        .kredit_status_F { color: DarkViolet; font-weight: bold; }
        .kredit_status_C { color: DarkViolet; font-weight: bold; }
        #xls_output { display: none; }
    </style>
{% endblock %}

{% block main %}
{% endblock %}

{% block more_scripts %}
{% endblock %}